<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>설문 Main Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">

    <script>
        window.addEventListener('beforeunload', function() {
            resetSessionTimeout = setTimeout(() => {
                navigator.sendBeacon('/reset_session');
            }, 1000);  // Adjust the delay as necessary
        });
    </script>
    
</head>
<body>
   <header>
       <h2 onclick="window.location.href='/survey'" style="margin-left:20px;">민원 Chatbot</h2>
    </header>
    <div class="container" id="separateBody" >
        <div id="chat-container"style="justify-content: center;">
            <div id="chat-box" style="width: 300px; box-shadow: None; border: None;">
                사용자 ID<br>
                <input type="text" id="useridInput" placeholder="Enter User ID">
                <button onclick="setUserId()">Submit</button>
                <span id="displayUserId"></span>
                <!-- 각 링크에 userid 추가된 링크로 이동 -->
                <a id="link1" href="#" onclick="goToLinkWithUserId('/survey/type1')">Go to Site 1 with UserID</a><br>
                <a id="link2" href="#" onclick="goToLinkWithUserId('/survey/type2')">Go to Site 2 with UserID</a><br>
                <a id="link3" href="#" onclick="goToLinkWithUserId('/survey/type3')">Go to Site 3 with UserID</a>
            </div>
        </div>
    </div>
    <div>
        <!-- 링크를 누르면 `userid` 값을 포함하여 이동 -->
        <a id="useridLink" href="#">Go to Link with UserID</a>
    </div>
    <script src="../static/js/script.js"></script>
    <script>
        let userId = '';
        function setUserId() {
            // 입력된 userId를 변수에 저장하고 표시
            userId = document.getElementById("useridInput").value;
            document.getElementById("displayUserId").textContent = userId;
        }

        function goToLinkWithUserId(baseURL) {
            if (userId) {
                // 입력된 userId를 URL 파라미터로 추가
                const targetUrl = `${baseURL}?userid=${encodeURIComponent(userId)}`;
                window.location.href = targetUrl;
            } else {
                alert("Please enter a User ID first!");
            }
        }
    </script>
</body>
</html>